*{
    margin: 0;
    font-family: sans-serif;
}
body{
    background-color: #111;
    color: white;
}
.navbar ul{
    list-style-type: none;
    display: flex;
    gap: 25px;
    padding: 10px 20px;
}
.navbar a{
    text-decoration: none;
    color: white;
}
.navbar a:hover{
    font-style: italic;
    color: grey;

}
.about{
    max-width: 900px;
    margin: 60px auto;
    padding: 0px 20px;
    display: flex;
    gap: 50px;
    align-items: center;
    width: 90%;
}

.about-img img{
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
}
.gear-selection ul {
    list-style-type: none;

}
.social-btn a{
    text-decoration: none;
    color: white;
    background-color: rgb(137, 17, 17);
    padding: 5px auto;
    text-align: center;
    font-size: 15px;
    display: inline-block;
    cursor: pointer;
    border-radius: 9%;
    padding: 10px 15px;
}
.social-btn a:hover {
   background-color: navy;
   padding: 10px 15px;
   border-radius: 10%;
   box-shadow: 0 8px 16px 0 navy;
}
.about-content hr {
    border: none;
    height: 3px;
    background-color: white;
    margin-inline-start: left;
    width: 50%;
    width: fit-content;
}

@media (max-width: 700px) {
    .about{
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
    .about-content hr {
        align-items: center;
        border: none;
        height: 3px;
        background-color: white;    
        margin-inline: left;
        width: 100%;
        max-width: 370px ;

    }
}